
<AuthorizeView>
    <Authorized>
        <div class="navbar-right">
            <ul class="navbar-nav">
                <li><a href="/settings" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
                <li>
                    <a href="/Identity/Account/LogOut" type="submit" class="js-right-sidebar" title="Sign Out"><i class="zmdi zmdi-power"></i></a>
                </li>
            </ul>
        </div>
    </Authorized>
    @*<NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>*@
</AuthorizeView>
