@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase

<!-- Right Icon menu Sidebar -->
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<LoginDisplay/>

<RightSidebar/>

<section class="content">
    <div class="body_scroll">
       @Body
    </div>
</section>
